# Ignore virtual environments
venv/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Git
.git/
.gitignore

# Ignore local configs and logs
*.log
*.sqlite3

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db