

<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-left" itemscope itemtype="http://schema.org/Organization" class="h-card">
        <h3 itemprop="name" class="p-name">CatlogIQ</h3>
            <p class="footer-links">
                <a href="#" class="link-1" itemprop="url">Home</a>
                <a href="#" itemprop="url">Gallery</a>
                <a href="#" itemprop="url">Contact</a>
            </p>
        
        <p class="footer-name"><a style='color:inherit'>CatlogIQ</a> © 2025</p>
    </div>

    <div class="footer-right">
        <p class="footer-about">
            <span>About this site</span>
            We're a Smart Catlog Market.
            <br>
            A brilliant, Catlog that will allow you to purchase anything you need in a bit.
        </p>
    </div>
</footer>
