{% extends 'index.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.postimg.cc/bNQp0RDW/1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>We're a Smart Banking System!</h5>
        <p>A brilliant System that will allow you to perform any banking action in a bit.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
