{% extends "index.html" %}
{% block content %}

<h2>Execute Debit Transaction</h2>
<p>Source Account: {{ transaction.account.account_number }}</p>
<p>Destination Account: {{ transaction.destination_account_number }}</p>
<p>Amount: {{ transaction.amount }}</p>
<p>Description: {{ transaction.description }}</p>

{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Execute Transaction</button>
</form>


{% endblock %}
